---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  <!-- <h2 class="post-list-heading">Welcome to the Makers All Toolkit!</h2> -->
  
 

  <img src="{{'/assets/images/Makers-All-Butterfly.jpg'  | relative_url }}"  style="width:300px;margin-left:15px;float: right;”>

  <p>Makers All</p>

<p>Communities Shaping Their Destinies<br/>
By Transforming Emerging Tech</p>



  &nbsp;<br/> 
  &nbsp;<br/> &nbsp;<br/>                                                                                 &nbsp;<br/> 
                                                                                  
    {{ content }}
                                                                                  
                                                                                 

</div>
