---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

 
  <img src="{{'/assets/images/makersall.jpg'  | relative_url }}"  >

<!--   
NOTE: if I need to tweak this, change the image to Makers-All-Butterfly.png:
  <img src="{{'/assets/images/Makers-All-Butterfly.png'  | relative_url }}"  style="width:300px;margin-left:15px;float: right;">

And then un-comment this section: 

    <h1>Makers All</h1>
<h1>Communities Shaping <br/>Their Destinies<br/>
By Transforming<br/> Emerging Tech</h1>
&nbsp;<br/><p> </p> &nbsp;<br/> <p> </p>
&nbsp;<br/><p> </p> &nbsp;<br/> <p> </p>

-->
&nbsp;<br/><p> </p> 

{{ content }}                                                                   

</div>
